

<%= render 'layouts/header' %>



<div class="page-title-tron container-fluid col-md-10 col-md-offset-1" id="sqad-box">
  <div class="page-title" id="show-squad-title"><h1><%= @squad.name %></h1></div>
  <div id="show-squad-motto"><h3><%= @squad.motto %></h3></div>
</div>


<div class="container-fluid col-md-12">
    <!-- <h2>Squad Members</h2> -->

    <div class="container-fluid col-md-10 col-md-offset-1" id="warriors-list">
        <% if !(@squad.warriors.blank?) %>
          <% @squad.warriors.each do |warrior| %>
            <!-- make this a button to go to the warrior show view -->
            <div class="container-fluid warrior-card col-md-8" style="background:<%=@warrior.color%>;">
              <h2><%= warrior.name %></h2>
              <div class="col-md-3 active warrior-docs-button" id="test-id" role="button">
                  <%= link_to('Manage Documents', warrior_path(warrior)) %>
              </div>
              <!-- <input class="btn btn-large warrior-docs-button col-md-3" value="manage documents"> -->
            </div>
           <% end %>
        <% else %>
            <% puts "blank" %>
        <% end %>
    </div>

</div>



